* {
    padding: 0; /*tarayıcının bize varsayılan olarak sunduğu margin ve padding değerlerini sıfırladık*/
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: bisque;
  }
  #siteadı {
    text-decoration: none;
    color: black;
  }
  .tepe {
    background-color: rgb(216, 196, 82);
    width: 100%;
    height: 110px;
    color: #4d3304;
    position: relative; 
  }
  .login {
    display: flex;
    width: 700px;
    height: 110px;
    margin-left: auto; 
    justify-content: center; 
    align-items: center;
    cursor: pointer;
  }
  .login a {
    text-decoration: none;
  }
  .login a div {
    text-align: center;
    font-size: 35px;
  }
  .login .input {
    width: 194px;
    height: 34px;
  }
  .login .buton {
    width: 22px;
    height: 22px;
    margin: 0px;
  }
  .giriş,
  .kayıt,
  .arama {

    width: 234px;
    color: bisque;
  }
  .teperight {
    color: black;
    font-family: fantasy;
    font-size: 20px;
    display: inline-block;
    width: 200px;
    height: 40px;
    position: absolute;
    left: 400px;
    top: 30px;
  }
  #sidebar {
    z-index: 2;
    position:fixed;
    background-color: #d49b20;
    width: 400px;
    height: 100%;
    text-align: right;
    right: -400px;
  }
  #sidebar.active {
    right: 0;
  }
  #sidebar ul li {
    list-style: none;
    padding: 40px 40px;
    border-bottom: 1px solid bisque;
    cursor: pointer;
    transition: all 0.5s linear;
  }
  #sidebar ul li:hover {
    background-color: #d49b80;
  }
  #sidebar ul a {
    text-decoration: none;
  }
  #sidebar ul a li {
    text-decoration: none;
    color: bisque;
    font-size: 25px;
    font-family: sans-serif;
  }
  .menubutton {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 400px;
    top: 0px;
    background-color: #d49b20;
  }
  .welcome {

    display: inline-block;
    font-size: 60px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: deepskyblue;
    position: relative;
    top: 40px;
    left: 80px;
    width: 800px;
    height: 80px;
  }
  .explanation {
    display: inline-block;
    width: 960px;
    height: 120px;
    position: absolute;
    top: 300px;
    left: 100px;
    font-size: 30px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .cv {
    background-color: #4d3304;
    color: coral;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
    position: absolute;
    top: 480px;
    left: 800px;
    font-size: large;
    font-size: 25px;
  }
  .cv strong {
    position: relative;
    top: 50px;
  }
  .ozgecmis {
    height: 150px;
    width: 150px;
    background-color: #4d3304;
    color: coral;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 480px;
    left: 600px;
    font-size: large;
    font-size: 25px;
  }
  .ozgecmis strong {
    position: relative;
    top: 40px;
  }
  .myprof {
    box-sizing: border-box;
    display: flex;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-radius: 20%;
    position: absolute;
    right: 360px;
    top: 160px;
  }
  .myprof img {
    box-sizing: border-box;
    border-radius: 20%;
    width: 495px;
    height: 495px;
  }
  .map {
    width: 300px;
    height: 350px;
    position: absolute;
    bottom: 94px;
  }
  .maps {
    position: absolute;
    bottom: 450px;
    font-size: 45px;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
  }
  .mapadresi {
    text-decoration: overline;
  }
  .iletisim {
    display: flex;
    background-color: beige;
    width: 100%;
    height: 60;
    position: absolute;
    bottom: 0px;
    flex-direction: row;
  }
  .iletisim h1 {
    margin-right: 380px;
  }
  .iletisim .box0 a:link {
    text-decoration: none;
    color: darkblue;
  }
  #maka {
    background-color: black;
    width: 1404px;
    height: 1000px;
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    flex-direction: column;
    padding: 10px;
    
  }
  #maka>.habera,.haberb,.haberc{
    display: flex;
    width: 1361px;
    height: 450px;
    background-color: white;
    margin: 10px;
    position: relative;   /*bu kod "haberin devamı" kısmını beyaz kutunun(div'in) içerisinde istediğimiz yere koymamızı sağladı  BURASI ÖNEMLİ*/
                          /*eğer ki bu kodu "#maka" kısmını yazsaydık siyah kutu içerisinde yerleştirmek zorunda kalacaktık ama şimdi "#maka>.habera,.haberb,.haberc" bunun içerisinde yerleştirme yapıyoruz*/
  }
  /*A HABERİ*/
  #maka>.habera>#makale_zeka{  /*habera'nın fotoğraf kısmı*/
    width: 1155px;
    height: 310px;
    padding: 1px;
  }
  #maka>.habera>p{
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: 40px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #maka>.habera>a{
    display: flex;
    width: 99px;
    height: 100px;
    text-decoration: none;
    font-style: italic;
    align-items: end;
    font-size: 20px;
    padding:10px;
    position: absolute;  /*bu satırdan itibaren 5 satır "haberin devamı" div'ini beyaz kutu içerisinde sol alta koymamıza yarıyor*/
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  /*B HABERİ*/
  #maka>.haberb>#makale_nikola{
    width: 900px;
    height: 310px;
    padding: 1px;
  }
  #maka>.haberb>p{
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #maka>.haberb>a{
    display: flex;
    width: 99px;
    height: 100px;
    text-decoration: none;
    font-style: italic;
    align-items: end;
    font-size: 20px;
    padding: 10px;
    position: absolute; /*bu satırdan itibaren 5 satır "haberin devamı" div'ini beyaz kutu içerisinde sol alta koymamıza yarıyor*/
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    margin-bottom: 10px;  
  }
  /*C HABERİ*/
  #maka>.haberc>#makale_bant{
    width: 900px;
    height: 310px;
    padding: 1px;
  }
  #maka>.haberc>p{
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #maka>.haberc>a{
    display: flex;
    height: 100px;
    width: 99px;
    text-decoration: none;
    font-style: italic;
    align-items: end;
    justify-content: end;
    font-size: 20px;
    padding: 10px;
    position: absolute;  /*bu satırdan itibaren 5 satır "haberin devamı" div'ini beyaz kutu içerisinde sol alta koymamıza yarıyor*/
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  /*MAKALE 1*/
  .makalebir{
    display: flex;
    background-color: bisque;
    width: 1404px;
    height: 2200px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 150px;
    flex-direction: column;
    border: 1px solid brown;
  }
  .makalebir>h1{
    text-align: center;
    font-style: italic;
    font-size: 39px;
  }
  .makalebir>p{
    font-size: 25px;
  }
  /*MAKALE 2*/
  .makaleiki{
    display: flex;
    background-color: bisque;
    width: 1404px;
    height: 1600px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 150px;
    flex-direction: column;
    border: 1px solid brown;
  }
  .makaleiki>h1{
    text-align: center;
    font-style: italic;
    font-size: 39px;
  }
  .makaleiki>p{
    font-size: 25px;
  }
  /*MAKALE 3*/
  .makaleuc{
    display: flex;
    background-color: bisque ;
    width: 1404px;
    height: 1200px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 150px;
    flex-direction: column;
    border: 1px solid brown;
  }
  .makaleuc>h1{
    text-align: center;
    font-style: italic;
    font-size: 39px;
  }
  .makaleuc>p{
    font-size: 25px;
  }  
  .cerceve>.resim>.resimler img{
    width: 1000px;
    height: 500px;
  }
  .cerceve{
    width: 1000px;
    height: 500px;
    margin: auto;
    position: relative;
    
    overflow: hidden;
  }
  .resim{
    position: absolute;
    width: 1000%;
    left: 0;
    animation: slide 10s infinite;
  }
  .resimler{
    width: 10%;
    float: left;
  }
  @keyframes slide{
    0%{
      transform: translate(0px);
    }
    10%{
      transform: translate(-1000px);
    }
    20%{
      transform: translate(-1000px);
    }
    30%{
      transform: translate(-2000px);
    }
    40%{
      transform: translate(-2000px);
    }
    50%{
      transform: translate(-3000px);
    }
    60%{
      transform: translate(-3000px);
    }
    70%{
      transform: translate(-4000px);
    }
    80%{
      transform: translate(-4000px);
    }
  }
  .videos{
    margin: auto;
    width: 800px;
    height: 800px;
    border: 2px solid black; 
  }
  .hbr{
    display: flex;
    margin: 50px;
    width: 1420px;
    height: 600px;
    background-color: gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bilim,.finans,.yasam,.spor{
    display: flex;
    width: 1000px;
    height: 100px;
    background-color: white;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-size: 40px;
    color: gray;
  }
  .hbr>a{
    text-decoration: none;
  }

  /*BİLİM HABERLERİ*/
  .bilimhaberleri{
    display: flex;
    width: 1500px;
    height: 1000px;
    margin: 20px;
    position: relative;
    justify-content: space-around;
    border: 2px solid black;
  }
  .bilim_1,.bilim_2,.bilim_3{
    display: flex;
    width: 450px;
    height: 400px;
    background-color: darkgrey;
    margin: 20px;
    position: relative;
    justify-content: center;
    font-size: 25px;
  }
  .bilimhaberleri img{
    width: 100%;
    height: 240px;
  }
  .bilimhaberleri>.bilim_1>.bilimbaslık_1{
    display: flex;
    position: absolute;
    top: 250px;
    text-align: center;
  }
  .bilimhaberleri>.bilim_2>.bilimbaslık_2{
    display: flex;
    position: absolute;
    top: 250px;
    text-align: center;
  }
  .bilimhaberleri>.bilim_3>.bilimbaslık_3{
    display: flex;
    position: absolute;
    top: 250px;
    text-align: center;
  }

.bilimhaberleri>.bilim_1>a{
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: darkblue;
}
.bilimhaberleri>.bilim_2>a{
  position: absolute; 
  bottom: 0px;
  right: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: darkblue;
}
.bilimhaberleri>.bilim_3>a{ 
  position: absolute; 
  bottom: 0px;
  right: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: darkblue;
}



.bilimhaberleri_1{
   width: 1500px;
   height: 1000px;
   margin: 20px;
   position: relative;
   border: 2px solid black;
   padding: 10px;
   
}
.bilimhaberleri_1>h1{
  text-align: center;
    font-style: italic;
    font-size: 39px;
}
.bilimhaberleri_1>p{
  font-size: 25px;
}


.bilimhaberleri_2{
  width: 1500px;
  height: 1000px;
  margin: 20px;
  position: relative;
  border: 2px solid black;
  padding: 10px;
}
.bilimhaberleri_2>h1{
  text-align: center;
    font-style: italic;
    font-size: 39px;
}
.bilimhaberleri_2>p{
  font-size: 25px;
}


.bilimhaberleri_3{
  width: 1500px;
  height: 1000px;
  margin: 20px;
  position: relative;
  border: 2px solid black;
  padding: 10px;
}
.bilimhaberleri_3>h1{
  text-align: center;
    font-style: italic;
    font-size: 39px;
}
.bilimhaberleri_3>p{
  font-size: 25px;
}
/*FİNANS HABERLERİ*/

.finanshaberleri{
  display: flex;
  width: 1500px;
  height: 1000px;
  margin: 20px;
  position: relative;
  border: 2px solid black;
}
.finans_1,.finans_2{
  display: flex;
  width: 450px;
  height: 400px;
  background-color: darkgrey;
  margin: 20px;
  position: relative;
  justify-content: center;
  font-size: 25px;

}
.finanshaberleri img {
  width: 100%;
  height: 240px;
}
.finanshaberleri>.finans_1>.finansbaslik_1{
  display: flex;
  position: absolute;
  top: 250px;
  text-align: center;
}
.finanshaberleri>.finans_2>.finansbaslik_2{
  display: flex;
  position: absolute;
  top: 250px;
  text-align: center;
}
.finanshaberleri>.finans_1>a{
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: darkblue;
}
.finanshaberleri>.finans_2>a{
  position: absolute; 
  bottom: 0px;
  right: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: darkblue;
}
.finanshaberleri_1{
  width: 1500px;
  height: 1000px;
  margin: 20px;
  position: relative;
  border: 2px solid black;
  padding: 10px;
  
}
.finanshaberleri_1>h1{
 text-align: center;
   font-style: italic;
   font-size: 39px;
}
.finanshaberleri_1>p{
 font-size: 25px;
}


.finanshaberleri_2{
 width: 1500px;
 height: 700px;
 margin: 20px;
 position: relative;
 border: 2px solid black;
 padding: 10px;
}
.finanshaberleri_2>h1{
 text-align: center;
   font-style: italic;
   font-size: 39px;
}
.finanshaberleri_2>p{
 font-size: 25px;
}

/*YAŞAM HABERLERİ*/
.yasamhaberleri{
  display: flex;
  width: 1500px;
  height: 1000px;
  margin: 20px;
  position: relative;
  border: 2px solid black;
}
.yasam_1,.yasam_2{
  display: flex;
  width: 450px;
  height: 400px;
  background-color: darkgrey;
  margin: 20px;
  position: relative;
  justify-content: center;
  font-size: 25px;

}
.yasamhaberleri img {
  width: 100%;
  height: 240px;
}
.yasamhaberleri>.yasam_1>.yasambaslik_1{
  display: flex;
  position: absolute;
  top: 250px;
  text-align: center;
}
.yasamhaberleri>.yasam_2>.yasambaslik_2{
  display: flex;
  position: absolute;
  top: 250px;
  text-align: center;
}
.yasamhaberleri>.yasam_1>a{
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: darkblue;
}
.yasamhaberleri>.yasam_2>a{
  position: absolute; 
  bottom: 0px;
  right: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: darkblue;
}
.yasamhaberleri_1{
  width: 1500px;
  height: 1000px;
  margin: 20px;
  position: relative;
  border: 2px solid black;
  padding: 10px;
  
}
.yasamhaberleri_1>h1{
 text-align: center;
   font-style: italic;
   font-size: 39px;
}
.yasamhaberleri_1>p{
 font-size: 25px;
}


.yasamhaberleri_2{
 width: 1500px;
 height: 500px;
 margin: 20px;
 position: relative;
 border: 2px solid black;
 padding: 10px;
}
.yasamhaberleri_2>h1{
 text-align: center;
   font-style: italic;
   font-size: 39px;
}
.yasamhaberleri_2>p{
 font-size: 25px;
}
/*SPOR HABERLERİ*/
.sporhaberleri{
  display: flex;
  width: 1500px;
  height: 1000px;
  margin: 20px;
  position: relative;
  border: 2px solid black;
}
.spor_1,.spor_2{
  display: flex;
  width: 450px;
  height: 400px;
  background-color: darkgrey;
  margin: 20px;
  position: relative;
  justify-content: center;
  font-size: 25px;
}
.sporhaberleri img {
  width: 100%;
  height: 240px;
}
.sporhaberleri>.spor_1>.sporbaslik_1{
  display: flex;
  position: absolute;
  top: 250px;
  text-align: center;
}
.sporhaberleri>.spor_2>.sporbaslik_2{
  display: flex;
  position: absolute;
  top: 250px;
  text-align: center;
}
.sporhaberleri>.spor_1>a{
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: darkblue;
}
.sporhaberleri>.spor_2>a{
  position: absolute; 
  bottom: 0px;
  right: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: darkblue;
}
.sporhaberleri_1{
  width: 1500px;
  height: 500px;
  margin: 20px;
  position: relative;
  border: 2px solid black;
  padding: 10px;
}
.sporhaberleri_1>h1{
 text-align: center;
   font-style: italic;
   font-size: 39px;
}
.sporhaberleri_1>p{
 font-size: 25px;
}
.sporhaberleri_2{
 width: 1500px;
 height: 200px;
 margin: 20px;
 position: relative;
 border: 2px solid black;
 padding: 10px;
}
.sporhaberleri_2>h1{
  text-align: center;
  font-style: italic;
  font-size: 39px;
}
.sporhaberleri_2>p{
  font-size: 25px;
}